In [ ]:
#Comprehensions
Maaşlara %20 zam yaptırmak

In [2]:
salaries=[1000,2000,3000,4000]

def new_salary(x):
   return x * 20 / 100 + x

for salary in salaries:
  print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0

In [3]:
#koşula göre 
null_list=[]
for salary in salaries:
    if salary > 3000 :
        null_list.append(new_salary(salary))
    else :
        null_list.append(new_salary(salary * 2))
print(null_list)

[2400.0, 4800.0, 7200.0, 4800.0]

In [4]:
#List Comprehensions la
[new_salary(salary*2) if salary < 3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0]

In [5]:
#Maaşlar listesindeki her maaşı 2 ile çarp
[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000]

In [8]:
#! else kullanmadan tek başına if kullanıyorsan if SAĞDA!
[salary * 2 for salary in salaries if salary < 3000]

[2000, 4000]

In [9]:
#Maaşı 3000 den küçük olanları 2 ile çarpıp fonksiyona sok,büyük olanları 0,2 ile çarpıp
[new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]

[2400.0, 4800.0, 720.0, 960.0]

In [2]:
#öğrenci isimlerini students_no da varsa küçük, yoksa büyük harfle yaz

students=["John", "Mark", "Vanessa", "Mariam"]
students_no=["John", "Vanessa"]

[student.lower() if student in students_no else student.upper() for student in students]

['john', 'MARK', 'vanessa', 'MARIAM']

In [3]:
#2. yol:
students=["John", "Mark", "Vanessa", "Mariam"]
students_no=["John", "Vanessa"]

[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'vanessa', 'MARIAM']

In [6]:
#Dict Comprehensions

dict= {"a": 1,
       "b": 2,
       "c": 3,
       "d": 4}
#tuple lar şeklinde k v 
dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [7]:
#key sabitken value ların karesini almak
{k: v ** 2 for (k,v) in dict.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [2]:
#key leri büyük harfle yazmak:
dict= {"a": 1,
       "b": 2,
       "c": 3,
       "d": 4}
{k.upper() : v for (k,v) in dict.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [12]:
#Bir veri setindeki değişken isimlerini değiştirmek
import seaborn as sns
df=sns.load_dataset("car_crashes")
[col.upper() for col in df.columns]
df=[col.upper() for col in df.columns]

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [3]:
#key leri büyük harfle yazmak:
dict= {"a": 1,
       "b": 2,
       "c": 3,
       "d": 4}
{k.upper() : v for (k,v) in dict.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [5]:
["FLAG" + col if "INS" in col else "NO_FLAG" + col for col in df.columns]

['NO_FLAGTOTAL',
 'NO_FLAGSPEEDING',
 'NO_FLAGALCOHOL',
 'NO_FLAGNOT_DISTRACTED',
 'NO_FLAGNO_PREVIOUS',
 'FLAGINS_PREMIUM',
 'FLAGINS_LOSSES',
 'NO_FLAGABBREV']

In [13]:
#Sözlük oluştur. Key i data setteli sayısal değişkenler, value su aşağıdaki liste olsun.
import seaborn as sns
df=sns.load_dataset("car_crashes")
[col for col in df.columns if df[col].dtype != "O"]
num_cols=[col for col in df.columns if df[col].dtype != "O"]

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [19]:
agg_list=["mean", "min", "max", "sum"]
soz={col : agg_list for col in num_cols }

In [20]:
#agg fonksiyonu ile Sözlük keylerinin değerlerine value daki fonksiyonu uygulamak
df[num_cols].agg(soz)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000

In [2]:
names=["denise", "jean", "fleur"]
ages=[20, 32, 45]
cities=["lyon", "lille", "nantes"]
list(zip(names, ages, cities))

[('denise', 20, 'lyon'), ('jean', 32, 'lille'), ('fleur', 45, 'nantes')]

In [6]:
wages=[1000, 2000, 3000, 4000, 5000]
new_wages=lambda x: x * 0.20 + x
list(map(new_wages, wages))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [7]:
students=["Denise", "Arsen", "Tony", "Audrey"]
low = lambda x: x[0].lower()
print(list(map(low, students)))

['d', 'a', 't', 'a']

In [13]:
dictn={"Denise": 10, "Arsen": 12, "Tony": 15, "Audrey": 17}
new_dict={k : v *2 +3 for (k,v) in dictn.items()}
new_dict

{'Denise': 23, 'Arsen': 27, 'Tony': 33, 'Audrey': 37}

In [14]:
numbers=range(1,10)
{n: n**2 for n in numbers if n % 2 !=0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}